p {
	font-family: Times New Roman;
	font-size: 420%;
	color: cyan;
	border: 3px dotted red;
}
body {
	background-image: https://cdn.discordapp.com/attachments/548659566812856370/914224984656850944/FEVnBCYVcAIXFGJ.jpg;
}