/*p {
	font-family: Times New Roman;
	font-size: 420%;
	color: cyan;
	border: 3px dotted red;
}

.ten {
	width: 70%;
}

body {
	background-image: url('https://cdn.discordapp.com/attachments/548659566812856370/914224984656850944/FEVnBCYVcAIXFGJ.jpg');
}*/

#upperpanel {
    background-color: #4d4d4d;
    border: 2px solid #d9d9d9;
    width: 100%;
    height: 50px;
    color: #5c00e6;
    padding: 3px;
    margin-bottom: 0px;
}
#files {
    width: 100%;
    margin-top: 0px;
    background-color: #004d00;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    text-align: center;
	height: 80%;
}
.download {
    border: 4px solid black;
    background-color: red;
    color: white;
    text-align: center;
    padding: 3px;
    height: 75px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
#bottom {
    background-color: #4d4d4d;
    border: 2px solid #d9d9d9;
    width: 100%;
    height: 50px;
    color: white;
    padding: 3px;
	text-align: center;
}
body {
	background-color: #5c00e6;
}
