#upperpanel {
    background-color: #4d4d4d;
    border: 2px solid #d9d9d9;
    width: 100%;
    height: 50px;
    color: #5c00e6;
    padding: 3px;
    margin-bottom: 0px;
}
#files {
    width: 100%;
    margin-top: 0px;
    background-color: #004d00;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    text-align: center;
	height: 900px;
    border: 4px dotted red;
}
.download {
    border: 4px solid black;
    background-color: red;
    color: white;
    text-align: center;
    padding: auto;
    height: 75px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.panel {
    background-color: #4d4d4d;
    border: 2px solid #d9d9d9;
    width: 100%;
    height: 50px;
    color: white;
    padding: 3px;
	text-align: center;
}
body {
	background-color: #5c00e6;
}
